In [32]:
import pandas as pd
raw_dataframe = pd.read_csv('winequality_BE.csv', delimiter = ";")
raw_dataframe.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,Viogner,7.4,0.19,0.49,6.7,0.037,15.0,110.0,0.9938,3.20,0.38,11,7
1,Viogner,8.3,0.25,0.49,16.8,0.048,50.0,228.0,10.0010,3.03,0.52,9.2,6
2,Viogner,7.5,0.14,0.74,1.6,0.035,21.0,126.0,0.9933,3.26,0.45,10.2,6
3,Viogner,7.8,0.49,0.49,7.0,0.043,29.0,149.0,0.9952,3.21,0.33,10,5
4,Viogner,8.1,0.12,0.49,1.2,0.042,43.0,160.0,0.9934,3.13,0.48,9.7,6

In [33]:

raw_dataframe['alcohol'] = raw_dataframe['alcohol'].apply(lambda x: x.replace('.', ',', 1))
raw_dataframe['alcohol'] = raw_dataframe['alcohol'].str.replace('.', '')
raw_dataframe['alcohol'] = raw_dataframe['alcohol'].str.replace(',', '.')
raw_dataframe['alcohol'] = raw_dataframe['alcohol'].astype(float)

# convierte alchol a de object a float

In [34]:
#raw_dataframe.info()
pf = raw_dataframe["alcohol"].value_counts().sort_index(ascending=False)
grupos_con_mas_de_x = pf[pf.index >= 13]
print(grupos_con_mas_de_x)
#raw_dataframe["alcohol"].value_counts().sort_values(ascending=False)

alcohol
956.666667     1
923.333333     1
135.666667     1
110.666667     1
100.333333     2
14.900000      1
14.000000      9
13.700000      2
13.600000      4
13.500000      5
13.400000      6
13.300000      6
13.200000      2
13.100000      4
13.000000     16
Name: count, dtype: int64

In [35]:
"""
grupo = raw_dataframe.groupby('alcohol')
conteo_por_grupo = grupo.size().sort_index(ascending=False)
print(conteo_por_grupo) 

todo esto hace lo mismo que la siguiente linea
raw_dataframe["alcohol"].value_counts().sort_index(ascending=False)
"""

'\ngrupo = raw_dataframe.groupby(\'alcohol\')\nconteo_por_grupo = grupo.size().sort_index(ascending=False)\nprint(conteo_por_grupo) \n\ntodo esto hace lo mismo que la siguiente linea\nraw_dataframe["alcohol"].value_counts().sort_index(ascending=False)\n'

In [36]:
condicion = raw_dataframe['alcohol'] <= 15 
df_filtrado = raw_dataframe[condicion]
# elimino filas del dataframe en base a la condicion definida

df_filtrado["alcohol"].value_counts().sort_index(ascending=False)
# elimina los registros donde el valor de b5

alcohol
14.9     1
14.0     9
13.7     2
13.6     4
13.5     5
        ..
8.7     25
8.6      7
8.5      2
8.4      2
8.0      2
Name: count, Length: 64, dtype: int64

In [37]:
condicion = raw_dataframe['alcohol'] <= 15 
df_filtrado = raw_dataframe[condicion]
# elimino filas del dataframe en base a la condicion definida

df_filtrado["alcohol"].value_counts().sort_index(ascending=False)
# elimina los registros donde el valor de la variable alcohol es mayor a 15

alcohol
14.9     1
14.0     9
13.7     2
13.6     4
13.5     5
        ..
8.7     25
8.6      7
8.5      2
8.4      2
8.0      2
Name: count, Length: 64, dtype: int64